h1 {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 46px;
}

.gameboard {
  width: 488px;
  height: 488px;
  border: 5px solid silver;
  background: maroon;
  padding: 15px;
  margin: 0 auto;
  border-radius: 10px;
}

.gameboard div {
  font-family: 'Shadows Into Light', cursive;
  width: 100px;
  height: 100px;
  float: left;
  border: 4px solid lightblue;
  background: rgb(230, 230, 230);
  margin: 7px;
  border-radius: 10px;
  line-height: 100px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.08em;
}

.gameboard div:hover {
  background: lightblue;
}
