body {
  background: rgb(220,220,220)
}

h1 {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 20px;
}

.container {
  width: 466px;
  height: 50px;
  margin: 0 auto 15px auto;
  line-height: 50px;
}

.start_button {
  float: left;
  font-family: 'Gloria Hallelujah', cursive;
  width: 160px;
  height: 45px;
  font-size: 18px;
  border-radius: 10px;
  margin-left: 25px;
  background: rgb(230, 230, 230);
  color: maroon;
  border-color: lightblue;
}

.timer {
  float: right;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 24px;
  padding-right: 25px;
  color: maroon;
}

.gameboard {
  clear: both;
  width: 426px;
  height: 426px;
  border: 5px solid black;
  background: #125688;
  padding: 15px;
  margin: 0 auto;
  border-radius: 20px;
}

.gameboard div {
  font-family: 'Shadows Into Light', cursive;
  width: 120px;
  height: 120px;
  float: left;
  border: 4px solid lightblue;
  background: rgb(230, 230, 230);
  margin: 7px;
  border-radius: 10px;
  line-height: 120px;
  text-align: center;
  font-size: 55px;
  letter-spacing: 0.08em;
  color: maroon;
}

.emptyBox {
  background: #125688!important;
  border-color: #125688!important;
}

.gameboard div:hover {
  background: lightblue;
}
